{{#if work}}
<a href="/how-does-it-work">how does it work?</a>
{{/if}}
{{#if petition}}
<a href="/petition">petition</a>
{{/if}}
{{#if signers}}
<a href="/signers">signers</a>
{{/if}}
{{#if profile}}
<a href="/profile/edit">Profile</a>
{{/if}}

{{#if logout}}
<a href="/logout">Log out</a>
{{/if}}