<section class="main">
    <section class="sct welcom">
        <h1>Welcome to PtshN</h1>

    </section>

    <form class='form-box color' method="post">
        <p class='form-text'>LOG IN</p>
        <input type="email" name="email" placeholder="mark@example.com" required>
        <input type="password" placeholder="password" name="pwd" required>
        <button type="submit" class="submit" value="submit">login</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>

</section>