<section class="main">
    <section class="sct">
        <h5>Oh! have you lost your way?</h5>

        <p class='form-text'> Haven't we all my friend? haven't we all....</p>

    </section>
    <img height='400' src="lost.png">

</section>