<header id="bar">{{> header logout=true profile=true}}</header>

<section class="petition">
    <section class="sct">
        <h1>A Paid Day off from Work on Your Birthday!</h1>
        <p>This is a day to celebrate and recognize your birth. Everyone has one so why not allow each person to have
            the day off
            from work without them having to use a personal/sick day.</p>

    </section>


    <form class="sign-box" method="POST">

        <input name="signature" id='signature' type='hidden' required="true">
        <canvas id="canvas" width="600" height="150"></canvas>
        <button id='clear' class="delete">CLEAR</button>

        <button type="submit" class="submit" value="submit">SIGN</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">


    </form>
</section>