<section id="sign-form">
    <form id="sign" method="POST">

        {{!-- <label for="fname">Enter your First name: </label>
        <input type="text" name="fname" autofocus required pattern="[A-Za-z]+">

        <label for="lname">Enter your Last name: </label>
        <input type="text" name="lname" required pattern="[A-Za-z]+"> --}}

        <input name="signature" id='signature' type='hidden' required="true">
        <canvas id="canvas" width="500" height="150"></canvas>

        <button id="clear">clear</button>
        <button type="submit" class="submit" value="submit">sign</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

</section>
</form>