<p>hello from main</p>

<form method="POST">
    <label for="fname">Enter your name: </label>
    <input type="text" name="fname" required="true">

    <label for="lname">Enter your Last name: </label>
    <input type="text" name="lname" required="true">

    {{!-- <input name="signature" id='signature' type='hidden'>
    <canvas id="canvas" width="500" height="150"></canvas> --}}

    <button id="clear">clear</button>
    {{!-- <input type="submit" value="Sign!"> --}}
    <button type="submit" value="submit">sign</button>

</form>