<section class="petition">
    <section class="sct">
        <h1>petition text</h1>

    </section>


    <form class="sign-box" method="POST">

        <input name="signature" id='signature' type='hidden' required="true">
        <canvas id="canvas" width="600" height="150"></canvas>
        <button id='clear' class="delete">CLEAR</button>

        <button type="submit" class="submit" value="submit">SIGN</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">


    </form>

</section>