<form method="post">
    <label for="fname">First Name</label>
    <input type="text" name="fname" autofocus required pattern="[A-Za-z]+">

    <label for="lname">Last Name</label>
    <input type="text" name="lname" required pattern="[A-Za-z]+">

    <label for="email">E-mail address</label>
    <input type="email" name="email" placeholder="mark@example.com" required>

    <label for="pwd">Password</label>
    <input type="password" name="pwd" required>

    <button type="submit" class="submit" value="submit">Register</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>