<section class="petition">

    <section class="sct">
        <h5>Thank you for signing the petition!</h5>

    </section>


    <img src="{{signer/signature}}" alt="signature">

    <p class='body-text'> {{total}} signers so far:
        <a class="link" href="/signers"> >Check who has also signed the petition< </a>
    </p>

    <form method="post">
        <button type="submit" class="submit delete">DELETE SIGNATURE</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>

</section>