<header id="bar">{{> header work=true signaners=true petition=true logout=true}}</header>
<section class="main">
    <section class="sct">
        <h5>It doesn't..</h5>
        <img height='400' src="rick.jpg">
        <h5>this petition is not real, and won't be submitted anywhere.
            now go back to work. </h5>
    </section>

</section>