* {
    margin: 0;
    padding: 0;
}

#page {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas:
        /* "head head" */ "main";
    /* "foot  foot"; */
    /* grid-template-rows: 150px 1fr 30px; */
}

#page > header {
    grid-area: head;
    background-color: #3d84a8;
}

#page > main {
    grid-area: main;
    background-color: #393e46;
}

#page > footer {
    grid-area: foot;
    background-color: #abedd8;
}

canvas {
    border: 1px solid black;
}

#canvas {
    display: block;
}

.form-box {
    width: 300px;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box input[type="number"],
.form-box input[type="email"] {
    border: 0;
    background: none;
    display: block;
    margin: 14px auto;
    text-align: center;
    border: 2px solid #00adb5;
    padding: 10px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 18px;
    font-weight: 500;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus,
.form-box input[type="number"]:focus,
.form-box input[type="email"]:focus {
    width: 250px;
    border: 3px solid #57c7ff;
}

::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 500;
}

.submit {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #00adb5;
    padding: 12px 30px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.submit:hover {
    background: #00adb5;
}
.log {
    color: #00adb5;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.sct {
    color: #eeee;
    font-size: 50px;
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form-text {
    text-align: center;
    color: #eeee;
    font-size: 24px;
}

/* #sign {
    width: 50%;
    display: flex;
    align-items: center;
} */

input {
    caret-color: red;
}
